
/*CSS custom properties*/
:root{
    --light-blue:#45b8fe;
    --input-focus-col:#e5e5e5;
    --bg-col:#030304;
    --box-col-1:#212122;
    --box-col-2:#525357;
    --heading-shadow:#85C1E9;
    --heading-col:#F2F4F4;
    --box-col-3:#0A175C;
    --box-col-4:#030E47;
    --box-shadow:#cccccc;
    --bg-col-typo:#191919;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:var(--bg-col);
    font-family: 'Roboto Condensed', sans-serif; 
}
header{
    font-family: 'Kanit', sans-serif;
    margin-bottom: 30px;
}

/* NOTE!
    -For nav menus, the custom css colours are applied inside the
    'foundation.css' file which is located inside the css folder.
    - Search 'menu' and there will be a comment 'CUSTOM CSS CODE'
*/


h2{
    font-weight: bold;
    color:var(--heading-col); 
    text-align: center;
    padding-bottom: 10px;
    text-shadow: 1px 1px 6px var(--heading-shadow);
    font-size: 4vw;
}
footer{
    display: block;
    color:white;
    background-image: radial-gradient(var(--box-col-2),var(--box-col-1));
    border-color: white;
    padding:15px 2px;
    width:100%;
    height:10em;
}
/*FOOTER TITLE*/
footer > h2{
    font-size: 2.5vw;
}

.title-logo{
    border-color: white;
    background-image: radial-gradient(var(--box-col-2),var(--box-col-1));
    padding:10px;
}

.title-logo > div > h1{
    animation: titlePulse 2.5s infinite alternate;
    text-align: center;
    font-size: 3em;
    padding-top: 12px;
}
.AL-logo{
    display:block;
    margin:auto auto;
    height:5em; width:5em; 
    padding:5px 0px;
}

.nav-small{
    padding:8px 2px 8px 8px;
    background-color: var(--light-blue);
}
/*////////////////////////////*/

/*OUR GOAL/ACHIEVE/INTRO*/
.intro-statement{
    width:100%; 
    margin-bottom: 30px;
}
.intro-statement div{
    color:white;
    text-align: center;
    margin-bottom: 20px;
}
.intro-statement > h2{
    padding-top:15px;
}

#ourGoal{
    color:white;
}
.our-goal-msg{
    color:white;
    font-size: 1.3em;
    width:100%;
    margin-bottom: 30px;
    background-color:var(--bg-col-typo);
    padding:20px 0px;
    height:32em;
}

.achieve-con{
    width:100%;
    margin:2px;
    margin-bottom: 30px;
    padding:0px 10px;
    height:40em;
}

.arrow-down{
    animation: elementSizeInc 1.0s infinite alternate;
}
/*////////////////////////////*/

/*////////////////////////////*/
/*MEDIA AND IMGS STYLING*/
.header-media{
    color:white;
}
.media-view{
    border:1px solid white;
    box-shadow: 1px 1px 10px var(--box-shadow);
    border-style: solid none;
    border-width:0.3px;
    border-radius: 3px;
}
/*////////////////////////////*/

/*////////////////////////////*/
/**~USER FORM~**/
.sign-up-container{
    margin: 20px 0px;
    border-radius: 5px;
    color:white; 
    height:35em;
    padding-top:20px;
}
.sign-up-container-wrapper{
    width:100%;
    height:45em;
    background-color:var(--bg-col-typo);
}
/*reveal modal popup*/
#thankYou{
    border: none;
    color:white;
    text-align: center;
    background-color:var(--box-col-2);
}

label{
    color:white;
    font-size: 1.2em;
}

.sign-up-form >input[type=text],select{
    width:100%;
    margin:5px 0px;
}
input[type=text]:focus{
    background-color:var(--input-focus-col);
}

.sign-up-msg{
    text-align: center; 
    padding:5px 3px;
    margin:10px 0px;
    font-size: 1.2em;
}
/*////////////////////////////*/

/**~PROMOTING CONTAINER/LIST~**/
.promote-icon{
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    padding:10px 0px;
    margin:2px;
}
.promote-icon > li{
    text-decoration: none;
    list-style: none;
    padding:20px 0px;
    border-radius: 2px;
}
.promote-icon > li > p{
    padding-top:15px;
}
/*////////////////////////////*/

@media screen and (max-width: 900px) {
    h2{
      font-size: 4.5vw;
    }
    footer h2{
        font-size: 3.5vw;
    }
    .intro-statement {
        margin-top: 40px;
    }
    .title-logo > div > h1{
        font-size: 2.5em;
    }
  }

 @media screen and (max-width:500px) {
    nav > ul > li{
        font-size: 1em;
    }    
    h2{
        font-size: 6.5vw;
    }
    footer h2{
        font-size: 5vw;
    }
    
    .our-goal-msg{
        font-size: 1.2em;
    }
 } 
/*////////////////////////////*/

 /*////////////////////////////*/
/* CSS ANIMATIONS */
@keyframes titlePulse{
    0%{
        color:white;
        text-shadow: 2px 2px 2px white;
    }
    100%{
        color:white;
        text-shadow: 2px 2px 7px var(--light-blue);
    }
}

@keyframes elementSizeInc{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.8);
    }
}
/*////////////////////////////*/
